@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
    font-family: 'Audiowide', cursive;
    background-color:rgb(233, 235, 238);
    color: #333;
    font-size: 1rem;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 5px;
}

.container {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    float: left;
    width: 15%;
    border-radius: 8px;
    letter-spacing: 5px;
    font-size: 1.2em;
}

.navigation ul {
    margin: 1px;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
}

    .navigation ul li {
        margin: 0;
        display: inline-block;
    }

        .navigation ul li a {
            display: block;
            text-align: center;
            border-radius: 0.5em;
            text-decoration: none;
            padding: 10px;
            transition: all 0.4s linear;
        }
                .navigation ul li a:hover{
                background-color: #075060;
            }

.main {
    padding-top: 6rem;
}

.inter br {
    display: inline;
}

#content {
    margin: 40px auto;
    width: 50%;
    border-width: 2px;
}

.footer {
    background: #bbb7b7;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6rem;
}

#txtContact {
    width: 200px;
}

#txtMessage {
    width: 95%;
    height: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td, #h3table {
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {background-color: #8c8585;}

#footercontact {
    background: #bbb7b7;
    padding: 2rem 0;
    text-align: center;
    margin-top: 210px;
    clear: both;
}

@media only screen and (max-width: 767px) {
    .navigation ul {
        width: 100%;
    }
    
        .navigation ul li {
            display: block;
        }
    
            .navigation ul li a {
                display: block;
                text-align: center;
                border-radius: 0.5em;
                text-decoration: none;
                padding: 10px;
                transition: all 0.4s linear;
            }
                    .navigation ul li a:hover{
                    background-color: #075060;
                }
}

/* PAGE JP_ISLE */

#map{
    width: 100%;
}

#f_p {
    margin-left: 10px;
    margin-right: 20px;
}


